@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #B22AC2;
  --color-primary-dark: #7A1684;
  --color-primary-light: #C44ED0;
  --message-list-max-width: 48rem;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
